.todo {
  display: flex;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
  padding: 20px;
}

.todo_checkbox {
  cursor: pointer;
  width: 25px;
}

.todo_text {
  padding-left: 15px;
}

.isCompleted {
  color: var(--text-secondary);
  text-decoration: line-through;
}
