.todo {
  display: flex;
  background-color: var(--secondary-color);
  border-top: 1px solid var(--text-secondary);
  border-bottom: 1px solid var(--text-secondary);
  padding: 20px;
}

.todo_checkbox {
  width: 25px;
  height: 25px;
  margin: auto 0;
  vertical-align: middle;
  cursor: pointer;
}

.todo_text {
  padding-left: 15px;
}

.isCompleted {
  color: var(--text-secondary);
  text-decoration: line-through;
}
